<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit todo</title>
  <meta charset="utf-8" />
</head>
<body>

    <h1>Edit todo</h1>

    <form action="#"
          th:action="@{/{id}/edit(id=${todo.id})}"
          th:object="${todo}"
          method="post">
        <label>Title:
            <input type="text" name="title" th:field="*{title}">
        </label><br>
        <label>Urgent:
            <input type="checkbox" name="urgent" th:checked="*{urgent}">
        </label><br>
        <label>Done:
            <input type="checkbox" name="done" th:checked="*{done}">
        </label><br>
        <button type="submit">Submit</button>
    </form>


</body>
</html>