<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo App</title>
    <meta charset="utf-8" />
</head>
<body>

<h1>Edit assignee</h1>

<form action="#"
      th:action="@{/{id}/edit-assignee(id=${assignee.getId})}"
      th:object="${assignee}"
      method="post">
    <label>Name:
        <input type="text" name="title" th:field="*{name}">
    </label><br>
    <label>Email:
        <input type="text" name="title" th:field="*{email}">
    </label><br>

    <button type="submit">Submit</button>
</form>


</body>
</html>