<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Programmer Fox Club</title>
  <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>


<img th:src="@{/images/greenfox.png}" height="200" width="200"/>
<div id = name th:utext="'This is ' + ${fox.getName()} + '. Currently living on '+ ${fox.getFood()} + ' and ' + ${fox.getDrink()} + '. He knows ' + ${fox.getTrickList().size()} + ' tricks.'"></div>

<section th:if= "${fox.getTrickList().size() >0}">
  <h3>Known tricks</h3>
  <ul th:each="trick : ${fox.getTrickList()}">
      <li>trick.getTrickName()</li>
  </ul>
</section>

</body>
</html>