* {
    margin: 0px;
    line-height: 2;
}


header{
   background-color: #333333;
    font-family: consolas;
    padding-right: 10%;
    padding-left: 10%;
}

main {
    font-family: consolas;
    background-image:url("assets/topography.png");
    padding-right: 10%;
    padding-left: 10%;
}

nav{
    float: right;
}

header li{
    display: inline;    
}

a{
    text-decoration: underline;
    color: #ff0099;
    text-transform: uppercase;
}

p{
    font-size: 14px;
}

dl{
    font-size: 14px; 
}

dt{
    font-weight: 800;
}

dd{
    margin-left: 0px;
}

h1{
    text-align: left;
    font-family: Merriweather;
}

h2{
    text-align: center;
    font-family: Merriweather;
}

h3{
    color: #ff0099;
    font-family: Merriweather;
}

h4{
    text-align: center;
    font-family: Merriweather;
}